@use './variables' as v;
.col {
	position: relative;
	flex : 1 0 100%;
	@media screen and (min-width : v.$lg-breakpoint ) {
		flex: 1 1 0%;
	}
}
.input_default {

	border: var(--border_color01);
	border-radius: 0.5rem;
	font-size: var(--text_size02);
	width: 100%;
	color : var(--text_color01);
	font-weight: 300;
	outline: none;
	padding: 1rem;
	font-family: var(--font_family_inter);
}


.label_default {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: absolute;
	font-size: var(--text_size02);
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
	pointer-events: none;
	transition: 0.3s;

}
.label_disabled{
	display: none;
}
.input_default:focus ~ label {
	opacity: 0;
	background: transparent;
}


.btn {
	border-radius: 1.2rem;
	padding: 1.1rem 1.6rem;
	font-size:var(--text_size01);
	font-weight: bold;
	cursor: pointer;
	transition: var(--transition_default);
	font-family: var(--font_family_inter);

}

.btn_favorite{
	border: var(--border_color01);
	background: var(--bg_color01);
	color: var(--text_color01);

}
.btn_favorite_active{
	border: var(--border_color01);
	background: var(--text_color01);
	color: var(--text_color01);
}
.btn_base_highlight {
	border: 1px solid #0d9488;
	background-color: #0d9488;
	color: var(--text_color02);
	flex : 1 1 100%;
}

.btn_secondary{
	border: var(--border_color01);
	color: var(--text_color01);
	background-color: var(--bg_color03);
}
.btn_base {
	border: 1px solid var(--bg_color02);
	background-color: var(--bg_color02);
	color: var(--text_color02);
	flex : 1 1 100%;
}
.btn:hover {
	transform: translateY(-1px);
	box-shadow: var(--box_shadow01);
}
.break_word {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 1;
}
h1 {
	text-transform: uppercase;
	font-family: var(--font_family_title);
	letter-spacing: 0.07rem;
	font-size: var(--title_size01);
}

hr{
	width: 100%;
	border: none;
	height: 1px;

	background-color: #33333325;  
}
.form_group{
	display: flex;
	flex-direction: column;
	gap: 3rem;
}