.popup_overlay {
	position: fixed;
	top: 12rem;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	animation: fadeIn 0.3s ease-in-out;
	z-index: 0;

	.popup_content {
		background-color: var(--bg_color01);
		border: var(--border_color01);
		padding: 2rem;
		border-radius: 0.5rem;
		text-align: center;
		min-width: 250px;

		p {
			font-size: var(--text_size03);

			color: var(--text_color01);
		}
	}

}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}