@use '../../../components/utils/variables' as v;
#trending {
	.container {
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	#product_card {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@media screen and (min-width: v.$lg-breakpoint) {
			flex-basis: calc(33% - 8rem);

		}
	}

	img {
		width: min(35rem, 100%);
		padding: calc(5rem + 0.5vw);

		object-fit: cover;
		height: 100%;
	}
	.hover_fg {
		position: absolute;
		background-color: var(--bg_color01);
		padding: 1rem;
		width: 7rem;
		border-radius: 0.5rem;
		border: var(--border_color02);
		font-size: var(--text_size01);
	}
}