#cart {
	.quantity_controls {
		display: flex;
		align-items: center;
		gap: 1rem;
				span{
			font-size: 1.4rem;
		}
	}

	.product_item {
		padding: 1rem;
		display: flex;

		img {
			max-width: 15rem;
		}

	}

	.container_item {
		width: 100%;
	}

	.wrapper_top {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.container_global {
		display: flex;
		gap: 2rem;

	}

	.wrapper_cart {
		display: flex;
		flex-direction: column;
		flex-basis: 70%;
		border: var(--border_color02);
		border-radius: 0.5rem;
		padding: 2rem;
		gap: 2rem;
	}

	.wrapper {
		border: var(--border_color02);
		flex-basis: 30%;
		border-radius: 0.5rem;
		padding: 2rem;
	}

	.btn_quantity {
		border: none;
		cursor: pointer;
		font-size: 1.4rem;
		padding: 1rem;
		background-color: transparent;

	}
}