@use '../../components/utils/variables' as v;

#productdetails {
	#review {
		.wrapper {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

		}
	}

	.container_content {
		display: flex;
		flex-direction: column;
		gap: 4rem;

		@media screen and (min-width: v.$lg_breakpoint) {
			flex-direction: row;

		}
	}

	.container-add {
		position: absolute;
		bottom: -2rem;
		padding: 1rem;
		border-radius: 0.5rem;
		border: var(--border_color02);
		background-color: var(--bg_color01);
		left: 0;
	}

	.container_display {
		display: flex;
		flex-basis: 50%;

		.product_image {
			width: min(100%, 40rem);
			padding: 2rem;

		}

		.usericon_image {
			width: 3rem;
			height: 100%;
		}
	}

	.container_details {
		display: flex;
		flex-basis: 50%;
		flex-direction: column;
	}

	.defaultColor {
		border: var(--border_color02);
		padding: 1rem;
		border-radius: 0.5rem;
		transition: all 0.2s ease-in-out;

		&:hover {
			transform: translateY(-0.2rem);
		}

	}

	.defaultSize {
		border: var(--border_color02);
		padding: 1rem 2rem;
		border-radius: 0.5rem;
		transition: all 0.2s ease-in-out;

		&:hover {
			transform: translateY(-0.2rem);
		}
	}

	.activeColor,
	.activeSize {
		background-color: var(--text_color01);
		color: var(--text_color02);
	}

	.wrapper_btn {
		display: flex;
		gap: 0.2rem;
		width: 60%;
		position: relative;

		@media screen and (max-width: v.$lg_breakpoint) {
			width: 100%;

		}
	}

	.hr {
		width: 100%;
		display: flex;
		border: 0.1px solid var(--bg_color03);
	}

	.wrapper_end {
		svg {
			width: 3rem;
			height: 3rem;
		}
	}
}