/* Header Component */
.header {
	height: 13rem;
	position: sticky;
	top: 0;
	z-index: var(--z-overlay);
	backdrop-filter: blur(10px);
	background: rgba(248, 250, 252, 0.88);

	&__nav-item {
		padding: 0.7rem 1.1rem;
		border-radius: var(--radius-full);
		border: 1px solid transparent;
		transition: var(--transition-normal);

	}

	&__container {
		height: 100%;
	}

	&__notification-badge {
		position: absolute;
		top: -0.9rem;
		right: -0.9rem;

		&__background {
			border-radius: 50%;
			min-width: 2rem;
			height: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: var(--shadow-lg);

			p {
				font-size: var(--text-sm);
				color: var(--text);
				font-weight: bold;
				padding: 0 0.5rem;
			}
		}
	}

	&__favorite-bg {
		background: rgba(201, 35, 35, 0.658);
	}

	&__cart-bg {
		background: rgba(240, 170, 41, 0.658);
	}
}