@use "../../components/utils/variables" as v;

#check {
	width: 100%;
	height: 100vh;

	img {
		width: 100%;
		object-fit: cover;
		height: 100%;
	}
	.element_svg{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5rem;
		height: 5rem;
		border-radius: 5rem;
		border: var(--border_color01);
	}
	.container {
		display: flex;
		height: 100%;

		@media screen and (max-width: v.$lg_breakpoint) {
			flex-direction: column;
		}

		.container_content,
		.container_check {
			display: flex;
			flex-basis: 50%;
			flex-direction: column;
		}

		@media screen and (max-width: v.$lg_breakpoint) {
			.container_content {
				flex: 0 0 20%;
			}

			.container_check {
				flex: 0 0 80%;
			}
		}
	}
}
